<!DOCTYPE html>
<html>

<head>
    <title></title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/bootstrap-responsive.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/style.css" />
    <script type="text/javascript" src="__PUBLIC__/Js/jquery.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Js/jquery.sorted.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Js/bootstrap.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Js/ckform.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Js/common.js"></script>
    <style type="text/css">
    body {
        padding-bottom: 40px;
    }
    
    .sidebar-nav {
        padding: 9px 0;
    }
    
    @media (max-width: 980px) {
        /* Enable use of floated navbar text */
        
        .navbar-text.pull-right {
            float: none;
            padding-left: 5px;
            padding-right: 5px;
        }
    }
    </style>
</head>

<body>
    <form action="?" method="post" class="definewidth m20">
        <table class="table table-bordered table-hover definewidth m10">
            <tr>
                <td width="10%" class="tableleft">产品名称</td>
                <td>
                    <input type="text" name="data[name]" value="{$productRebate.name}" />
                </td>
            </tr>
            <tr>
                <td class="tableleft">产品价格</td>
                <td>
                    <input type="text" name="data[price]" value="{$productRebate.price}" />
                </td>
            </tr>
            <tr>
                <td class="tableleft">产品分类</td>
                <td>
                    <input type="text" name="data[category]" value="{$productRebate.category}" />
                </td>
            </tr>
            <tr>
                <td class="tableleft">关联文章</td>
                <td>
                    <input type="text" name="data[relatearticles]" value="{$productRebate.relatearticles}" />
                </td>
            </tr>
            <tr>
                <td class="tableleft">返利金额</td>
                <td>
                    <span>第一级返利金额:</span>
                    <input style="width:50px" type="text" name="data[backmoney1]" value="{$productRebate.backmoney1}" />&nbsp;&nbsp;
                    <span>第二级返利金额:</span>
                    <input style="width:50px" type="text" name="data[backmoney2]" value="{$productRebate.backmoney1}" />&nbsp;&nbsp;
                    <span>第三级返利金额:</span>
                    <input style="width:50px" type="text" name="data[backmoney3]" value="{$productRebate.backmoney1}" />
                </td>
            </tr>
            <tr>
                <td class="tableleft">图片地址</td>
                <td>
                    <input type="file" name="data[img1]" value="{$productRebate.img}" />&nbsp;&nbsp;
                    <input type="file" name="data[img2]" value="{$productRebate.img}" />&nbsp;&nbsp;
                    <input type="file" name="data[img3]" value="{$productRebate.img}" />&nbsp;&nbsp;
                </td>
            </tr>
            <tr>
                <td class="tableleft">产品详情</td>
                <td>
                    <textarea name="data[details]" style="margin: 0px 0px 10px; width: 80%; height: 233px;resize: none;">{$productRebate.reply}</textarea>
                </td>
            </tr>
            <input type="hidden" name="id" value="{$productRebate.id}">
            <tr>
                <td class="tableleft"></td>
                <td>
                    <button type="submit" class="btn btn-primary" type="button">提交</button> &nbsp;&nbsp;
                    <button type="button" class="btn btn-success" name="backid" id="backid">返回列表</button>
                </td>
            </tr>
        </table>
    </form>
</body>

</html>
<script>
$(function() {
    $('#backid').click(function() {
        history.back();
    });

});
</script>
